{% extends "master.html" %}

{% block title %}
  Details about {{ myplayer.firstname }} {{ myplayer.lastname }}
{% endblock %}


{% block content %}
<section id="playerdetails">
  <h1 id="playerdetailsheader">{{ myplayer.firstName }} {{ myplayer.lastName }}</h1>
  <div id="details">
  <p>Name: {{ myplayer.firstName }} {{myplayer.lastName}} </p>
  <p>Club: {{ myplayer.team }}</p>
  <p>Position: {{myplayer.position}}</p>
  <p>Goals: {{myplayer.goals}}</p>
  <p>Assists: {{myplayer.assists}}</p>
  <p>Clean Sheets: {{myplayer.cleanSheets}}
  
  <p>Back to <a class= "links" href="/players">Players</a></p>
  </div>
</section>

<footer>
  
  <p><a class="links" href="/admin">Admin Login</a></p>
  <p> Saha Colts 2024 All Rights Reserved </p>
</footer>
{% endblock %}